h1{
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    text-shadow: 2px 2px red;
}
.text1{
    color: blue;
    font-weight:bold;
}
.text2{
    color:brown;
    font-weight:bold;
}