*{
    box-sizing:border-box;
}
h1{
    font-family:Arial, Helvetica, sans-serif;
    text-shadow:2px 2px red;
    text-align:center;
}
.box{
    border:1px solid red;
    padding:10px;
    margin:50px;
    text-align:justify;
}