/* selector { property: value; } */
/* h1 = selector */
/* font-family */
/* text-align */

/* Anatomy dari CSS */
h1{
    font-family: 'Courier New', Courier, monospace;
    text-align:center;
    font-size: 30px;
    color: seagreen;
}